.win-modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  /* Location of the box */
  padding-left: 10px;
  /* Location of the box
			*/
  width: 50%;
  /* Full width */
  height: 50%;
  /* Full height */
}

.win {
  display: none;
}

.blur{
	-webkit-filter: blur(5px);
  	 -moz-filter: blur(5px);
  		 -o-filter: blur(5px);
  		-ms-filter: blur(5px);
  				filter: blur(5px);
}

/* Данный класс навешивается на контейнер при открытии модального окна. Для нормальных браузеров это body, для стырах IE — html */
.lock {
    /* убираем скроллбары с основнового содержимого страницы */
    overflow: hidden;
}
